name: Release a new version

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Restore Maven cache
        uses: skjolber/maven-cache-github-action@v3.1.2
        with:
          step: restore

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Upload Artifacts
        uses: actions/upload-artifact@v6
        with:
          name: Artifacts
          path: target/*.jar

      - name: Save Maven cache
        uses: skjolber/maven-cache-github-action@v3.1.2
        with:
          step: save
